@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
}

#root {
  background-color: white;
  height: 100%;
  padding-bottom: 200px;
  font-family: 'Lato', sans-serif;
}
